* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(207, 191, 191);
}

.section-header {
  background-color: gray;
  border-bottom: 2px black solid;
}

.header {
  font-size: 5rem;
  color: aquamarine;
  /* align-items: center; */
  text-align: center;
  padding: 1.5rem;
}
.main-box {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  justify-items: center;
  align-items: center;
}

.main-heading {
  color: rgb(80, 79, 79);
  font-size: 35px;
  cursor: pointer;
}

.squaree {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.square {
  height: 140px;
  width: 140px;
  border: 1px black solid;
  margin: 0.3px;
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 100px;
 text-align: center;
 user-select: none;

  
}

.square0:hover{
    background-color: rgb(232, 214, 214);
}

.restart button {
  border: 2px black solid;
  font-size: 3rem;
  background-color: rgb(91, 89, 89);
  color: aquamarine;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}